body{
    background-image: url("../images/friends-hd-wallpapers-1080p.jpg");
    background-repeat: no-repeat,
}
button{
    margin-right: 5px;
    margin-bottom: 5px;
    background-color:#02a9eb;
    color: white;
    padding: 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#gif-form{
margin-left: 80%;

}

.gifRatingDiv {
    float: left;
}
